---
layout: page
title: Blog
permalink: /blog/
hero_image: /images/Blog.jpg
embed_image_only: true
---
<button
  type="button"
  class="collapsible toc-collapsible"
  aria-expanded="false"
  aria-controls="blogTableOfContents">
  Table of Contents
</button>
<div class="collapse-content" id="blogTableOfContents">
  <div class="toc">
    <ul>
      {% assign posts = site.blog_articles | sort: 'order' | reverse %}
      {% for article in posts %}
        <li>
          <a href="#{{ article.slug }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% for article in posts %}
  <section class="article-block" id="{{ article.slug }}">
    {% if article.image %}
      <figure class="article-cover">
        <img src="{{ article.image | relative_url }}" alt="{{ article.title }}" />
      </figure>
    {% endif %}
    <p><em>{{ article.date | date: "%d %B %Y" }}</em></p>
    {{ article.content }}
    <ul class="icons article-link">
      <li>
        <a
          href="{{ article.url | relative_url }}"
          class="icon solid fa-share share-article"
          data-share-url="{{ article.url | relative_url }}"
          aria-label="Copy link to {{ article.title }}"
          title="share">
          <span class="label">Copy share link</span>
        </a>
      </li>
    </ul>
  </section>
{% endfor %}
